В цьому домашньому завданні вже є якісь частини коду та в кожному завданні описано, що з ними треба зробити, часто - просто виконати після того, як ви напишете частину, якої поки не вистачає. Пишіть, будь ласка, код, який реалізує рішення кожного завдання, безпосереньо під формулюванням завдання, створюючи нові клітинки. Можете створювати скільки завгодно клітинок для виконання одного завдання.

1.Напишіть функцію `is_even`, яка для заданого числа визначає, чи воно є парним (тобто ділиться на 2 без остачі, наприклад 4, 10, 102). Функція має вертати результат типу bool.
Продемонструйте результати робити функції запустивши код нижче.

In [27]:
def is_even (d: int) -> bool:
  if d % 2 ==0:
    return True
  else:
    return False

In [28]:
def is_even (digit):
  return digit % 2 == 0

In [29]:
[is_even(digit) for digit in [101, 2002, 3043, 5015, 8222]]

[False, True, False, False, True]

2.Напишіть функцію `get_random_int_list`, яка вертає задану кількість випадкових цілих чисел з діапазону від 0 до 100. Для генерації випадкових чисел, скористуйтесь модулем random. Продемонструйте результат роботи функції, запустивши код нижче.

In [30]:
import random

def get_random_int_list (n_digits:int) -> list[int]:
    return [random.randint(0,100) for _ in range(n_digits)]

In [31]:
def get_random_int_list(n_digits):
  l = []
  for _ in range(n_digits):
    l.append (random.randint(0,100))
  return l

In [32]:
get_random_int_list(8)

[2, 90, 13, 23, 44, 99, 48, 23]

3.У наступному фрагменті коду для 5-ти людей розраховується  [індекс маси тіла (BMI)](https://uk.wikipedia.org/wiki/%D0%86%D0%BD%D0%B4%D0%B5%D0%BA%D1%81_%D0%BC%D0%B0%D1%81%D0%B8_%D1%82%D1%96%D0%BB%D0%B0#:~:text=%D0%86%CC%81%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%20%D0%BC%D0%B0%CC%81%D1%81%D0%B8%20%D1%82%D1%96%CC%81%D0%BB%D0%B0%20(%D0%86%D0%9C%D0%A2%2C%20%D0%B0%D0%BD%D0%B3%D0%BB,%D0%BD%D0%BE%D1%80%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%8E%2C%20%D0%BD%D0%B0%D0%B4%D0%BC%D1%96%D1%80%D0%BD%D0%BE%D1%8E%20(%D0%BE%D0%B6%D0%B8%D1%80%D1%96%D0%BD%D0%BD%D1%8F%D0%BC) пʼяти осіб. Для обчислення індексу маси тіла треба розділити вагу на зріст, піднесений до квадрату.

Виділіть у функцію код, що дублюється (робить логічно одне і те ж саме) у цьому фрагменті коду так, аби результат виводився **той самий**. Такого плану зміни коду в розробці називаються "рефакторинг" :)  
В кінці - запустіть свій відрефакторений фрагмент коду.

Увага: очевидно, можна обгорнути даний код у функцію по-різному. Єдиної правильної відповіді нема. Буде перевірятись розуміння підходу "винесення частин, що повторюються, у функцію".

In [33]:
person1 = [80, 1.62]
person2 = [69, 1.53]
person3 = [80, 1.66]
person4 = [80, 1.79]
person5 = [72, 1.60]

bmi_person1 = int(person1[0] / person1[1]**2)
print("bmi {} = {}".format('person1', bmi_person1))

bmi_person2 = int(person2[0] / person2[1]**2)
print("bmi {} = {}".format('person2', bmi_person2))

bmi_person3 = int(person3[0] / person3[1]**2)
print("bmi {} = {}".format('person3', bmi_person3))

bmi_person4 = int(person4[0] / person4[1]**2)
print("bmi {} = {}".format('person4', bmi_person4))

bmi_person5 = int(person5[0] / person5[1]**2)
print("bmi {} = {}".format('person5', bmi_person5))

bmi person1 = 30
bmi person2 = 29
bmi person3 = 29
bmi person4 = 24
bmi person5 = 28

In [34]:
def bmi_calc(person_num, weight_kg, height_m):
  """Calculate BMI in from weight in kg and height in meters"""
  bmi = int(weight_kg/height_m**2)
  name = 'person' + str(person_num)
  print = ("bmi {} = {}".format(name,bmi))
  # person data = [id, weight_kg, height_m]
  people = [
      [1, 80, 1.62], #person1
      [2, 69, 1.53], #person2
      [3, 80, 1.66], #person3
      [4, 80, 1.79], #person4
      [5, 72, 1.60]  #person5
  ]
  for person in people:
    person_num, weight_kg, height_m = person[0], person[1], person[2]
    bmi_calc(person_num, weight_kg, height_m)

In [35]:
def bmi_calc(person_num, weight_kg, height_m):
  """Calculate BMI in from weight in kg and height in meters"""
  bmi = int(weight_kg/height_m**2)
  name = 'person' + str(person_num)
  print = ("bmi {} = {}".format(name,bmi))
  # person data = [id, weight_kg, height_m]
  people = [
      [1, 80, 1.62], #person1
      [2, 69, 1.53], #person2
      [3, 80, 1.66], #person3
      [4, 80, 1.79], #person4
      [5, 72, 1.60]  #person5
  ]
  for i, person in enumerate(people):
    person_num, weight_kg, height_m = i+1, person[0], person[1]
    bmi_calc(person_num, weight_kg, height_m)

In [36]:
people = [
    {'name': "person1", "weight": 80, "height":1.62 },
    {'name': "person2", "weight": 69, "height":1.53 },
    {'name': "person3", "weight": 80, "height":1.66 },
    {'name': "person4", "weight": 80, "height":1.79 },
    {'name': "person5", "weight": 72, "height":1.60 }

]
def calculate_bmi(person):
  bmi = int(person [weight] / [height]**2)
  print = ("bmi {} = {}".format(peron, ['name'],bmi))

  for person in people:
    calculate_bmi (person)

4.Напишіть функцію `distance`, яка вимірює відстань між двома точками на лінії. Тобто нам треба знайти модуль різниці двох чисел (дивись картинку і формулу нижче). Функція має приймати на вхід два параметри, перевіряти, що обидва з них є чисельного типу (тобто або цілим числом, або числом з плаваючою комою):
- якщо так, то функція вертає результат обчислення,
- якщо типи неправильні, то у функції підіймається виняток з повідомленням "Неправильний тип даних одного або обох введених чисел". Виняток може бути як користувацького типу (тобто ви визначили свій тип винятку), або стандартний Exception з вашим повідомленням, що розповідає про помилку, яка сталася.

Аби обчислити модуль скористайтесь функцією `abs`.

![Screenshot%20%282%29.png](attachment:Screenshot%20%282%29.png)

Після написання функції `distance`, запустіть наступний код:

In [37]:
class CustomExeption(Exception):
  pass

def is_digit(x):
  return type(x) == int or type(x) == float

  def distance (x1, x2):
    if is_digit(x1) and is_digit(x2):
      return abs(x1-x2)
    else:
        raise CustomExeption ("Неправильний тип даних одного або обох введених чисел")

In [38]:
def distance (x1,x2):
  if is_digit(x1) and is_digit(x2):
      return abs(x1-x2)
  else:
      raise Exeption ("Неправильний тип даних одного або обох введених чисел")

In [39]:
# Приклад застосування фукції distance на практиці в проекті
def user_distance(x1,x2):
  dist = distance(x1,x2)
  if dist>1:
    return 'OK'
  else:
    return 'not enough'

In [40]:
print(distance(1,2))
print(distance(1011,2))
print(distance(-199, 1555))
print(distance('2121', 123))

1
1009
1754

NameError: ignored

5.Нижче є створений клас "Shop". Це клас для визначення магазинів компанії "АВС". У кожного магазина є локація і прибуток. Створіть три магазини в трьох окремих змінних:  
- один з локацією "Київ" та прибутком 5500,   
- другий - з локацією "Львів" та прибутком 3000,  
- третій - з локацією "Полтава" та прибутком 2500  

Порахуйте після цього суму прибутків трьох магазинів використовуючи інформацію про створені магазини.
Виведіть сумарний прибуток на екран.

In [41]:
class Shop:
    company = 'ABC'

    def __init__(self, location, profit):
        self.location = location
        self.profit = profit

In [42]:
shop_1 = Shop ('Київ', 5500)
shop_2 = Shop ('Львів', 3000)
shop_3 = Shop ('Полтава', 2500)

tota_profit = shop_1.profit + shop_2.profit + shop_3.profit
tota_profit

11000

In [43]:
total = 0
for shop in [ shop_1, shop_2, shop_3]:
  total += shop.profit
  print(total)

5500
8500
11000

6.Створіть клас `Employee`, який при ініціалізації представника класу визначає поля "Прізвище", "Місяць народження" та "Зарплата" та запустіть код нижче.

In [2]:
class Employee:
  def __init__(self, surname, birth_month,salary):
    self.surname = surname
    self.birth_month = birth_month
    self.salary = salary

In [3]:
emp_1 = Employee('Чорненко', 'жовтень', 2000)
emp_2 = Employee('Біленко', 'січень', 3000)
emp_3 = Employee('Жовтенко', 'березень', 3400)

7.До класу `Employee` додайте метод `salutate`, який вітатиме з **місяцем** народження. Аби додати метод - скопіюйте просто код з визначенням класа з попереднього завдання і додайте туди новий метод.  
Метод має приймати на вхід заданий місяць і
- якщо цей місяць співпадає з місяцем народження співробітника, виводить `Вітаємо, пане <прізвище співробітника>! Зараз місяць <назва місяця> у Вас День народження! Будьте здорові!`. Для формування привітання використайте інтерполяцію рядків.
- якщо місяць не співпадає з місяцем народження співробітника, метод нічого не вертає.  

Коли зробите завдання - запустіть код нижче.

In [21]:
class Employee:
    def __init__(self, surname, birth_month,salary):
      self.surname = surname
      self.birth_month = birth_month
      self.salary = salary

    def salutate(self, month):
      if month == self.birth_month:
        print (f"Вітаємо, пане {self.surname}! Зараз місяць {month} у Вас День народження! Будьте здорові!")

In [22]:
emp_1 = Employee('Чорненко', 'жовтень', 2000)
emp_2 = Employee('Біленко', 'січень', 3000)
emp_3 = Employee('Жовтенко', 'березень', 3400)

emp_1.salutate('грудень')
emp_2.salutate('січень')
emp_3.salutate('травень')

Вітаємо, пане Біленко! Зараз місяць січень у Вас День народження! Будьте здорові!

8.Створіть клас, який наслідує `Employee` та називається `BossEmployee`. У цього класа при ініціалізації є всі ті самі поля, що і в Employee, але також є поле `n_subordinates`, тобто "кількість підлеглих".

Додайте новоствореному класу метод `add_subordinates`, який додаватиме передану в метод кількість підлеглих цьому босу (тобто буде оновлювати поле класу `n_subordinates`) та буде виводити повідомлення `Вітаємо, пане <прізвище співробітника>! У Вас <введене в метод число> нових співробітників!`. Перевірте, аби кількість нових підлеглих була цілою, якщо це не так, виведіть повідомлення: `Число <введене в метод число, округлене до трьох чисел після коми> не може бути кількістю підлеглих.`.

Для формування повідомлень використайте метод форматування рядків, котрий був другим в лекції (з `format` частиною).
Коли зробите завдання - запустіть код нижче.

In [25]:
class BossEmployee(Employee):
  def __init__(self, surname, birth_month,salary, n_subordinates):
    super().__init__(surname, birth_month,salary)
    self.n_subordinates = n_subordinates

  def add_subordinates(self, n_new_subordinates):
    if isinstance(n_new_subordinates, int):
      self.n_subordinates += n_new_subordinates
      print("Вітаємо, пане{}! У вас {} нових співробітників!".format(self.surname, n_new_subordinates))
    else:
      print("Число{:.3f} не може бути кількістю підлеглих.".format(n_new_subordinates))

In [26]:
emp_4 = BossEmployee('Босенко', 'липень', 5500, 3)
emp_4.add_subordinates(5)
emp_4.add_subordinates(4.78764174)
emp_4.add_subordinates(4)
emp_4.n_subordinates

Вітаємо, панеБосенко! У вас 5 нових співробітників!
Число4.788 не може бути кількістю підлеглих.
Вітаємо, панеБосенко! У вас 4 нових співробітників!

12

Очікуваний результат виконання команд вище:
```
Вітаємо, пане Босенко! У Вас 5 нових співробітників!     
Число 4.788 не може бути кількістю підлеглих.
Вітаємо, пане Босенко! У Вас 4 нових співробітників!
12
```

# Ураа!! Ви доробили ДРУГЕ домашнє завдання!!! З кожним ДЗ ви стаєте з Python все ближче і ближче. Ваші відносини зараз - він поставив вогник на вашу сторіс 😉
В кінці курсу будете наче пити просеко на кухні і обговорювати останні мемчики.  

Аби здати ДЗ - залийте ноутбук у гітхаб репозиторій, який ви створили у перші дні навчання на курсі, та додайте посилання на файл у відповідному завданні в Eduflow.
Далі - ще цікавіше! 🚀🚀🚀